.card{
    max-width: 470px;
    background-color: white;
}

.order_all{
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.ul_order{
    list-style: none;
    background-color: #F5F5F5;
    padding: 14px;
}
.li_order{
    display: flex;
    justify-content: space-between;
    color: #73777D;
    ;
    list-style: none;
}